{% extends "base.html" %}
{% load  static %}
{% load widget_tweaks %}
{% block content %}

    {% if object_list %}
{% for i in object_list %}

    {{ i.titulo }}
    {{ i.contenido|truncatechars:20 }}
    {{ i.imagen }}
    {{ i.publicado }}
    {{ i.nombre_completo }}
    {% for i in categorias.all %}{{ i }}{% endfor %}


{% endfor %}
        {% else %}
        <h1>No existen entradas en el blog</h1>
        <button onclick="javascript:history.back(-1)" class="btn btn-secondary"> Volver</button>
    {% endif %}
{% endblock %}