{% extends "base.html" %}
{% load  static %}
{% load widget_tweaks %}
{% block content %}
    {% if not object_list %}

        <section id="hero" class="d-flex align-items-center justify-content-center">
            <div class="container" data-aos="fade-up">
                <h1>No existen entradas en el blog</h1>
                <button onclick="javascript:history.back(-1)" class="btn btn-light border shadow"> Volver</button>

            </div>

        </section><!-- End Hero -->
    {% else %}

        {% for i in object_list %}

            {{ i.titulo }}
            {{ i.contenido|truncatechars:20 }}
            {{ i.imagen }}
            {{ i.publicado }}
            {{ i.nombre_completo }}
            {% for i in categorias.all %}{{ i }}{% endfor %}

        {% endfor %}
    {% endif %}

{% endblock %}