{% load static %}
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Equipo</h2>
            <p>Este es nuestro equipo de trabajo</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="{% static 'assets/img/team/Santiago.jpg' %}" height="150px" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/santiagobritos"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Santiago Britos</h4>
                        <span>Desarrollador</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="{% static 'assets/img/team/cv_foto.png' %}" height="150px" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/karilop4"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Santiago Britos</h4>
                        <span>Desarrollador</span>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section><!-- End Team Section -->