  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>SB<span>.</span></h3>
              <p>
                Adolfo Vaillant 516, La teja <br>
                Montevideo, Uruguay.<br><br>
                <strong>Teléfono:</strong> +598 93 349 155<br>
                <strong>Email:</strong> Info@StudioBrits.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links de uso común</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Términos de servicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Politicas de privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Diseños web</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Creación de logos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Aplicaciónes web a su medida</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ploteos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Reparación pc.</a></li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Noticias</h4>
            <p>Para recibir nuestras últimas noticias suscibite ingresando solamente tu email</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Suscribirse">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>StudioBrits</span></strong>. Todos los derechos reservados
      </div>
    </div>
  </footer><!-- End Footer -->