<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>La solucion para su empresa la tenemos aquí<span>.</span></h1>
                <h2>Contamos con un equipo con una alta capacidad de conocimientos</h2>
            </div>
        </div>

        <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4 col-6">
                <div class="icon-box">
                    <i class="icofont-web"></i>
                    <h3><a href="#">Diseños web</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 ">
                <div class="icon-box">
                    <i class="ri-paint-brush-line"></i>
                    <h3><a href="">Creación de logos</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-dashboard-web"></i>
                    <h3><a href="">Aplicaciónes web a su medida</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
                <div class="icon-box">
                    <i class="icofont-printer"></i>
                    <h3><a href="">Ploteos</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
                <div class="icon-box">
                    <i class="icofont-repair"></i>
                    <h3><a href="">Reparación de pc.</a></h3>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->
