{% extends "base.html" %}
{% block content %}
    <main id="main">
        <!-- ======= Hero Section ======= -->
        {% include "herosection.html" %}
        <!-- ======= Services Section ======= -->
        {% include 'servicios.html' %}
        <!-- ======= Portfolio Section ======= -->
        <!-- ======= Testimonials Section ======= -->
        <!-- ======= Team Section ======= -->
        {% include 'equipo.html' %}
        {% include 'ContactForm.html' %}
    </main><!-- End #main -->

{% endblock %}
