<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Servicios</h2>
            <p>Nuestros servicios</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-web"></i>
                    </div>
                    <h4><a href="">Diseños web</a></h4>
                    <p>Contamos con un equipo capaz de idear su pensamiento sobre el diseño de su página web</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="ri-paint-brush-line"></i></i></div>
                    <h4><a href="">Creación de logos</a></h4>
                    <p>Nuestros diseñadores son capaces de crear ese logo de ensueño para que su empresa sea reconocida internacionalmente</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-dashboard-web"></i></div>
                    <h4><a href="">Aplicaciónes web a su medida</a></h4>
                    <p>Realizamos todo tipo de aplicaciónes web, para poder llevarlas donde usted quiera y en el dispositivo que elija.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-printer"></i></div>
                    <h4><a href="">Ploteos</a></h4>
                    <p>Tenemos lo último en tecnología para poder imprimir lo que usted quiera, del tamaño que lo desee </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-repair"></i></div>
                    <h4><a href="">Reparación pc.</a></h4>
                    <p>Diagnosticamos su pc sin costo alguno y si acepta el presupuesto, en menos de 72 horas se la entregamos como nueva</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-briefcase"></i></div>
                    <h4><a href="">Seriedad</a></h4>
                    <p>Nos destacamos por la seriedad que nos tomamos con nuestro trabajo y el aprendizaje continuo, para asi garantizar óptimos resultados</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->